In [1]:
import requests
from dotenv import load_dotenv
import yfinance as yf
import alpaca_trade_api as tradeapi
import pandas as pd

In [2]:
load_dotenv()

True

In [60]:
def tickerGrab(ticker, period="5y"):
    symbol = yf.Ticker(ticker)
    symbol_hist = symbol.history(period=period)
    symbol_hist = symbol_hist.drop(["Dividends","Stock Splits"],axis = 1)
    symbol_hist.to_csv(f"{ticker}_hist.csv")
    return symbol_hist

In [61]:
# sp500 stock data last 5-years
sp500 = tickerGrab(ticker="^GSPC")
sp500

                   Open         High          Low        Close      Volume
Date
2016-05-27  2090.060059  2099.060059  2090.060059  2099.060059  3079150000
2016-05-31  2100.129883  2103.479980  2088.659912  2096.949951  4514410000
2016-06-01  2093.939941  2100.969971  2085.100098  2099.330078  3525170000
2016-06-02  2097.709961  2105.260010  2088.590088  2105.260010  3632720000
2016-06-03  2104.070068  2104.070068  2085.360107  2099.129883  3627780000
...                 ...          ...          ...          ...         ...
2021-05-20  4121.970215  4172.799805  4121.970215  4159.120117  3019060000
2021-05-21  4168.609863  4188.720215  4151.720215  4155.859863  3344620000
2021-05-24  4170.160156  4209.520020  4170.160156  4197.049805  2947400000
2021-05-25  4205.939941  4213.419922  4182.520020  4188.129883  3420870000
2021-05-26  4191.589844  4202.609863  4184.109863  4195.990234  2055014000

[1258 rows x 5 columns]

In [62]:
# nasdaq stock data last 5-years
nasdaq = tickerGrab(ticker="NDAQ")
nasdaq

                  Open        High         Low       Close   Volume
Date
2016-05-27   59.576901   59.896036   59.467490   59.877796   424900
2016-05-31   59.950755   60.206057   59.595154   60.187824  1240900
2016-06-01   59.722802   59.996344   59.613383   59.813980   717600
2016-06-02   59.522199   59.722796   59.130125   59.403667   424300
2016-06-03   59.175726   59.522207   58.546583   59.330730   594100
...                ...         ...         ...         ...      ...
2021-05-20  161.509995  164.529999  161.250000  163.460007   415600
2021-05-21  162.899994  164.839996  162.880005  163.869995  1349800
2021-05-24  164.339996  166.009995  164.339996  164.919998   403400
2021-05-25  165.610001  166.160004  163.809998  164.309998   488400
2021-05-26  164.669998  166.380005  164.630005  165.449997   454240

[1258 rows x 5 columns]

In [63]:
# total world market stock data last 5-years
msci_world = tickerGrab(ticker="MSCI")
msci_world

                  Open        High         Low       Close   Volume
Date
2016-05-27   74.563543   75.084175   74.402623   75.084175   288300
2016-05-31   75.301909   75.595352   74.506763   75.529091  1220900
2016-06-01   75.065256   75.216708   74.487831   74.506760   683100
2016-06-02   74.364769   74.809671   74.203849   74.449966   827200
2016-06-03   73.825199   73.825199   72.925934   72.992195  1212100
...                ...         ...         ...         ...      ...
2021-05-20  450.170013  460.920013  448.760010  457.230011   347200
2021-05-21  457.829987  461.190002  456.149994  456.880005   227800
2021-05-24  459.720001  468.170013  459.380005  462.850006   233800
2021-05-25  464.730011  470.220001  463.290009  464.609985   288600
2021-05-26  470.540009  471.269989  464.119995  465.100006   284164

[1258 rows x 5 columns]

In [64]:
ethereum = tickerGrab(ticker="ETH-USD")
ethereum

                   Open         High          Low        Close       Volume
Date
2016-05-27    12.389400    12.389400    10.502700    11.295800     57496400
2016-05-28    11.333200    12.363300    10.373400    11.892900     47274800
2016-05-29    12.112200    12.690800    11.776800    12.350400     28598400
2016-05-30    12.325300    12.880600    12.265800    12.725300     14733800
2016-05-31    12.743500    14.267300    12.642200    14.077300     42433400
...                 ...          ...          ...          ...          ...
2021-05-22  2436.014648  2483.983154  2168.124268  2295.705566  42089937660
2021-05-23  2298.367188  2384.411621  1737.468750  2109.579834  56005721977
2021-05-24  2099.936035  2672.595703  2090.639648  2643.591064  53697121740
2021-05-25  2649.033203  2750.534912  2394.355469  2706.628906  49558333256
2021-05-27  2872.692383  2872.692383  2642.607910  2687.424805  40972603392

[1822 rows x 5 columns]

In [65]:
bitcoin_cash = tickerGrab(ticker="BCH-USD")
bitcoin_cash

                  Open        High         Low       Close      Volume
Date
2017-07-23  555.885986  578.971008  411.776001  413.059998       85013
2017-07-24  412.579987  578.892029  409.210999  440.700989      190952
2017-07-25  441.345001  541.658020  338.091003  406.897003      524908
2017-07-26  407.082001  486.158997  321.791992  365.816010     1784640
2017-07-27  417.097992  460.968994  367.777008  385.479004      533207
...                ...         ...         ...         ...         ...
2021-05-22  689.670776  720.321960  604.669189  631.782227  5302068385
2021-05-23  631.414612  660.430115  469.727051  556.139771  6340421631
2021-05-24  554.344055  758.537170  540.705688  748.421692  5693828648
2021-05-25  752.503418  788.469055  673.547119  719.947815  5635417781
2021-05-27  766.507446  773.068848  702.633057  714.300049  3823748352

[1400 rows x 5 columns]

In [66]:
litecoin = tickerGrab(ticker="LTC-USD")
litecoin

                  Open        High         Low       Close      Volume
Date
2016-05-27    4.089420    4.683270    4.087260    4.501330    10821100
2016-05-28    4.510950    4.833300    4.506530    4.700680    11564700
2016-05-29    4.688730    4.864990    4.579670    4.609620     7351420
2016-05-30    4.632640    4.702750    4.585070    4.670870     3805050
2016-05-31    4.687600    4.749440    4.604790    4.650390     5187600
...                ...         ...         ...         ...         ...
2021-05-22  180.538742  184.374313  163.066498  169.594559  5184597505
2021-05-23  169.684509  176.455734  118.642441  143.519363  6847843143
2021-05-24  142.802643  184.143997  140.403778  183.994125  5615445186
2021-05-25  185.037491  194.124054  168.410751  183.497894  5221949811
2021-05-27  200.787079  202.365402  181.087341  185.410828  4552355840

[1822 rows x 5 columns]

In [67]:
bitcoin = tickerGrab(ticker="BTC-USD")
bitcoin

,Open,High,Low,Close,Volume
Date,,,,,
2016-05-27,453.520996,478.148987,453.520996,473.463989,164780992
2016-05-28,473.028992,533.473022,472.699005,530.039978,181199008
2016-05-29,527.476990,553.960022,512.179016,526.232971,148736992
2016-05-30,528.471008,544.348999,522.963013,533.864014,87958704
2016-05-31,534.190979,546.617981,520.661987,531.385986,138450000
...,...,...,...,...,...
2021-05-22,37371.031250,38831.054688,35383.683594,37536.632812,57377273240
2021-05-23,37531.449219,38289.218750,31227.339844,34770.582031,78469274361
2021-05-24,34700.363281,39835.140625,34551.082031,38705.980469,67359584098
2021-05-25,38795.781250,39776.351562,36581.429688,38402.222656,56211915803
2021-05-27,39197.781250,39197.781250,37247.902344,37669.480469,50685079552

In [68]:
cardano = tickerGrab(ticker="ADA-USD")
cardano

                Open      High       Low     Close      Volume
Date
2017-10-01  0.021678  0.032226  0.017354  0.024969    50068700
2017-10-02  0.024607  0.030088  0.019969  0.025932    57641300
2017-10-03  0.025757  0.027425  0.020690  0.020816    16997800
2017-10-04  0.020864  0.022806  0.020864  0.021931     9000050
2017-10-05  0.021951  0.022154  0.020859  0.021489     5562510
...              ...       ...       ...       ...         ...
2021-05-22  1.553113  1.601020  1.377943  1.463622  6572397780
2021-05-23  1.465680  1.539640  1.056036  1.325436  9297651823
2021-05-24  1.316236  1.597913  1.270361  1.549485  7365907636
2021-05-25  1.550373  1.648563  1.439744  1.555369  5723130829
2021-05-27  1.775789  1.775789  1.617082  1.665314  6452271104

[1330 rows x 5 columns]

In [69]:
dash = tickerGrab(ticker="DASH-USD")
dash

                  Open        High         Low       Close      Volume
Date
2016-05-27    7.419490    7.558250    7.075420    7.499910      414196
2016-05-28    7.469750    7.937570    7.406240    7.849460      367974
2016-05-29    7.846230    8.533440    7.763630    8.189250      400555
2016-05-30    8.194850    8.364700    8.118670    8.203570      212989
2016-05-31    8.187350    8.387510    7.987230    8.176840      341324
...                ...         ...         ...         ...         ...
2021-05-22  188.934616  193.992340  170.495972  178.260361   970168073
2021-05-23  178.515396  184.111282  123.577026  151.475143  1140479438
2021-05-24  150.745377  200.550323  147.201508  199.952576  1070621226
2021-05-25  200.848877  215.274399  179.301880  195.235168  1085999061
2021-05-27  213.416763  214.720108  192.380493  196.555801   901585792

[1822 rows x 5 columns]

In [70]:
aave = tickerGrab(ticker="AAVE-USD")
aave

                  Open        High         Low       Close      Volume
Date
2021-04-01  377.183685  385.298737  369.995331  377.611786   342371946
2021-04-02  377.514648  408.479919  374.290924  406.692291   480081712
2021-04-03  406.883606  411.377075  385.415894  385.420563   395544800
2021-04-04  385.526978  409.579529  382.788849  404.309723   330959728
2021-04-05  404.392944  407.329315  388.300354  397.924561   306918909
2021-04-06  398.225372  414.469696  381.050201  383.989929   429756591
2021-04-07  384.014648  387.924927  343.957672  350.995819   479760253
2021-04-08  351.387665  377.931183  349.124695  377.931183   261822849
2021-04-09  377.932190  379.180267  357.891479  359.483582   187074856
2021-04-10  359.373230  374.970551  357.082825  367.263336   278406911
2021-04-11  367.489105  373.378754  360.573822  373.378754   200658255
2021-04-12  372.456024  417.722168  365.388367  396.536133   787040258
2021-04-13  397.284973  419.789032  385.248260  398.283905   649056082
2021-04-14  398.210205  430.788574  387.576050  430.416229   709472129
2021-04-15  428.936066  485.542664  424.282990  466.164825  1064575198
2021-04-16  466.271942  469.429382  421.340271  442.194397   673556018
2021-04-17  441.313965  460.754639  422.824493  430.174683   369355828
2021-04-18  430.181488  432.980896  292.775391  382.075104  1020175372
2021-04-19  381.822479  397.552307  344.341736  346.812561   492796753
2021-04-20  346.115295  371.561523  316.489349  361.608185   549743935
2021-04-21  361.581543  384.650970  344.402435  354.138428   457471541
2021-04-22  353.462860  413.360931  346.325775  362.228577   934747605
2021-04-23  361.730194  372.517975  315.045380  345.655304   871499452
2021-04-24  345.766510  345.917633  315.484558  317.499329   344313634
2021-04-25  317.670929  352.258972  316.133667  346.993256   384827300
2021-04-26  347.643066  407.972809  345.794769  405.156738   778864321
2021-04-27  405.537659  449.014954  394.695282  440.223236   829037372
2021-04-28  440.604309  486.036713  424.177795  460.351501  1106424533
2021-04-29  461.081543  462.825562  425.801331  438.709961   602169994
2021-04-30  439.298157  452.475494  430.466125  444.728790   549295851
2021-05-01  444.865540  510.981781  436.835327  503.865692   876659862
2021-05-02  503.711853  506.531250  474.438629  483.414459   528803162
2021-05-03  482.066437  532.788574  480.512543  519.069397   800165583
2021-05-04  519.343323  520.521362  449.975830  453.352417   946515500
2021-05-05  452.657043  483.677704  445.159454  480.030792   598275754
2021-05-06  479.771240  480.683624  442.389343  452.408752   535837075
2021-05-07  452.411072  466.906281  434.806580  445.222382   444097912
2021-05-08  445.224030  475.354736  441.045471  466.317566   409427672
2021-05-09  466.574341  468.576721  441.891357  459.587219   356162916
2021-05-10  459.299011  482.422485  403.213470  433.053558   555568844
2021-05-11  433.158905  458.751099  417.656708  457.178070   471124523
2021-05-12  457.401031  595.825134  456.461792  490.579041  2700355688
2021-05-13  509.089447  619.305969  468.498688  508.622803  2672357693
2021-05-14  508.916595  631.592896  507.387299  594.556885  1517159070
2021-05-15  594.435608  610.314941  511.899109  516.169373  1073639999
2021-05-16  515.709412  562.176575  479.447479  526.214722   903490585
2021-05-17  527.264526  593.005066  473.220490  574.259460  1714951194
2021-05-18  572.218018  666.864990  565.749878  632.266479  2046638929
2021-05-19  629.231689  649.050659  354.458313  418.369324  2596468764
2021-05-20  412.876831  507.983398  355.432068  468.812683  1490116640
2021-05-21  467.526367  494.548431  310.490540  373.418518  1224012357
2021-05-22  373.803009  381.628265  311.799744  334.480682   880707840
2021-05-23  335.388397  351.111420  210.048294  295.089233  1187561364
2021-05-24  294.317596  397.066620  289.405487  385.571594  1188069866
2021-05-25  386.973999  403.748779  323.662811  371.380249   856641755
2021-05-26  370.810394  415.081268  359.456390  414.932953   815698595
2021-05-27  414.854767  414.854767  371.002777  375.909332   810037056