In [1]:
import requests
from dotenv import load_dotenv
import yfinance as yf
import alpaca_trade_api as tradeapi
import pandas as pd

In [2]:
load_dotenv()

True

In [3]:
# sp500 stock data last 5-years
sp500 = yf.Ticker('^GSPC')
sp500_hist = sp500.history(period='5y')
sp500_hist.to_csv("sp500_hist.csv")
sp500_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-05-27,2090.060059,2099.060059,2090.060059,2099.060059,3079150000,0,0
2016-05-31,2100.129883,2103.479980,2088.659912,2096.949951,4514410000,0,0
2016-06-01,2093.939941,2100.969971,2085.100098,2099.330078,3525170000,0,0
2016-06-02,2097.709961,2105.260010,2088.590088,2105.260010,3632720000,0,0
2016-06-03,2104.070068,2104.070068,2085.360107,2099.129883,3627780000,0,0
...,...,...,...,...,...,...,...
2021-05-20,4121.970215,4172.799805,4121.970215,4159.120117,3019060000,0,0
2021-05-21,4168.609863,4188.720215,4151.720215,4155.859863,3344620000,0,0
2021-05-24,4170.160156,4209.520020,4170.160156,4197.049805,2947400000,0,0
2021-05-25,4205.939941,4213.419922,4182.520020,4188.129883,3420870000,0,0
2021-05-26,4191.589844,4202.609863,4184.109863,4195.990234,2055014000,0,0

In [4]:
# nasdaq stock data last 5-years
nasdaq = yf.Ticker('NDAQ')
nasdaq_hist = nasdaq.history(period='5y')
nasdaq_hist.to_csv("nasdaq_hist.csv")
nasdaq_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-05-27,59.576901,59.896036,59.467490,59.877796,424900,0.0,0
2016-05-31,59.950755,60.206057,59.595154,60.187824,1240900,0.0,0
2016-06-01,59.722802,59.996344,59.613383,59.813980,717600,0.0,0
2016-06-02,59.522199,59.722796,59.130125,59.403667,424300,0.0,0
2016-06-03,59.175726,59.522207,58.546583,59.330730,594100,0.0,0
...,...,...,...,...,...,...,...
2021-05-20,161.509995,164.529999,161.250000,163.460007,415600,0.0,0
2021-05-21,162.899994,164.839996,162.880005,163.869995,1349800,0.0,0
2021-05-24,164.339996,166.009995,164.339996,164.919998,403400,0.0,0
2021-05-25,165.610001,166.160004,163.809998,164.309998,488400,0.0,0
2021-05-26,164.669998,166.380005,164.630005,165.449997,453712,0.0,0

In [5]:
# total world market stock data last 5-years
msci = yf.Ticker('MSCI')
msci_hist = msci.history(period='5y')
msci_hist.to_csv("msci_hist.csv")
msci_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-05-27,74.563543,75.084175,74.402623,75.084175,288300,0.0,0
2016-05-31,75.301909,75.595352,74.506763,75.529091,1220900,0.0,0
2016-06-01,75.065256,75.216708,74.487831,74.506760,683100,0.0,0
2016-06-02,74.364769,74.809671,74.203849,74.449966,827200,0.0,0
2016-06-03,73.825199,73.825199,72.925934,72.992195,1212100,0.0,0
...,...,...,...,...,...,...,...
2021-05-20,450.170013,460.920013,448.760010,457.230011,347200,0.0,0
2021-05-21,457.829987,461.190002,456.149994,456.880005,227800,0.0,0
2021-05-24,459.720001,468.170013,459.380005,462.850006,233800,0.0,0
2021-05-25,464.730011,470.220001,463.290009,464.609985,288600,0.0,0
2021-05-26,470.540009,471.269989,464.119995,465.100006,284164,0.0,0

In [6]:
#crypto URL's for real-time data, if needed
#I can pull out price, supply, marketcap, etc. if we want to use this data
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"
dash_url = "https://api.alternative.me/v2/ticker/dash/?convert=CAD"
litecoin_url = "https://api.alternative.me/v2/ticker/litecoin/?convert=CAD"
bitcoin_cash_url = "https://api.alternative.me/v2/ticker/bitcoin-cash/?convert=CAD"

In [7]:
#bitcoin real-time data
btc_response = requests.get(btc_url)
btc_json=btc_response.json()
btc_data = pd.json_normalize(btc_json['data'])
btc_data.to_csv("btc_data.csv")
btc_data

,1.id,1.name,1.symbol,1.website_slug,1.rank,1.circulating_supply,1.total_supply,1.max_supply,1.quotes.USD.price,1.quotes.USD.volume_24h,...,1.quotes.USD.percent_change_1h,1.quotes.USD.percent_change_24h,1.quotes.USD.percent_change_7d,1.quotes.CAD.price,1.quotes.CAD.volume_24h,1.quotes.CAD.market_cap,1.quotes.CAD.percent_change_1h,1.quotes.CAD.percent_change_24h,1.quotes.CAD.percent_change_7d,1.last_updated
0,1,Bitcoin,BTC,bitcoin,1,18719200,18719200,21000000,38761.0,45498214159,...,0.213003,2.955862,-10.048045,47009.3408,5.518023e+10,8.799826e+11,0.213003,2.955862,-10.048045,1622065062

In [8]:
#ethereum real-time data
eth_response = requests.get(eth_url)
eth_json=eth_response.json()
eth_data = pd.json_normalize(eth_json['data'])
eth_data.to_csv("eth_data.csv")
eth_data

,1027.id,1027.name,1027.symbol,1027.website_slug,1027.rank,1027.circulating_supply,1027.total_supply,1027.max_supply,1027.quotes.USD.price,1027.quotes.USD.volume_24h,...,1027.quotes.USD.percent_change_1h,1027.quotes.USD.percent_change_24h,1027.quotes.USD.percent_change_7d,1027.quotes.CAD.price,1027.quotes.CAD.volume_24h,1027.quotes.CAD.market_cap,1027.quotes.CAD.percent_change_1h,1027.quotes.CAD.percent_change_24h,1027.quotes.CAD.percent_change_7d,1027.last_updated
0,1027,Ethereum,ETH,ethereum,2,116036741,116036741,0,2801.13,52770823075,...,0.128768,8.413703,-17.590761,3397.210464,6.400045e+10,3.946654e+11,0.128768,8.413703,-17.590761,1622065181

In [9]:
#dash real-time data
dash_response = requests.get(dash_url)
dash_json=dash_response.json()
dash_data = pd.json_normalize(dash_json['data'])
dash_data.to_csv("dash_data.csv")
dash_data

,131.id,131.name,131.symbol,131.website_slug,131.rank,131.circulating_supply,131.total_supply,131.max_supply,131.quotes.USD.price,131.quotes.USD.volume_24h,...,131.quotes.USD.percent_change_1h,131.quotes.USD.percent_change_24h,131.quotes.USD.percent_change_7d,131.quotes.CAD.price,131.quotes.CAD.volume_24h,131.quotes.CAD.market_cap,131.quotes.CAD.percent_change_1h,131.quotes.CAD.percent_change_24h,131.quotes.CAD.percent_change_7d,131.last_updated
0,131,Dash,DASH,dash,55,10148575,10148575,18920000,209.83,1266976733,...,0.137406,12.967289,-31.339764,254.481824,1.536589e+09,2.582580e+09,0.137406,12.967289,-31.339764,1622065064

In [10]:
#litcoin real-time data
litcoin_response = requests.get(litecoin_url)
litcoin_json=litcoin_response.json()
litcoin_data = pd.json_normalize(litcoin_json['data'])
litcoin_data.to_csv("litcoin_data.csv")
litcoin_data

,2.id,2.name,2.symbol,2.website_slug,2.rank,2.circulating_supply,2.total_supply,2.max_supply,2.quotes.USD.price,2.quotes.USD.volume_24h,...,2.quotes.USD.percent_change_1h,2.quotes.USD.percent_change_24h,2.quotes.USD.percent_change_7d,2.quotes.CAD.price,2.quotes.CAD.volume_24h,2.quotes.CAD.market_cap,2.quotes.CAD.percent_change_1h,2.quotes.CAD.percent_change_24h,2.quotes.CAD.percent_change_7d,2.last_updated
0,2,Litecoin,LTC,litecoin,14,66752415,66752415,84000000,194.08,5697967461,...,-0.756471,10.852163,-34.321061,235.380224,6.910495e+09,1.571189e+10,-0.756471,10.852163,-34.321061,1622065137

In [11]:
#bitcoin cash real-time data
bitcoin_cash_response = requests.get(bitcoin_cash_url)
bitcoin_cash_json=bitcoin_cash_response.json()
bitcoin_cash_data = pd.json_normalize(bitcoin_cash_json['data'])
bitcoin_cash_data.to_csv("bitcoin_cash_data.csv")
bitcoin_cash_data

,1831.id,1831.name,1831.symbol,1831.website_slug,1831.rank,1831.circulating_supply,1831.total_supply,1831.max_supply,1831.quotes.USD.price,1831.quotes.USD.volume_24h,...,1831.quotes.USD.percent_change_1h,1831.quotes.USD.percent_change_24h,1831.quotes.USD.percent_change_7d,1831.quotes.CAD.price,1831.quotes.CAD.volume_24h,1831.quotes.CAD.market_cap,1831.quotes.CAD.percent_change_1h,1831.quotes.CAD.percent_change_24h,1831.quotes.CAD.percent_change_7d,1831.last_updated
0,1831,Bitcoin Cash,BCH,bitcoin-cash,10,18747531,18747531,21000000,741.03,4562926589,...,-0.327551,7.502894,-32.615786,898.721184,5.533917e+09,1.688850e+10,-0.327551,7.502894,-32.615786,1622065129

In [ ]:
# example if won't pull
# bitcoin_cash_response = requests.request("GET", bitcoin_cash_url)
# print(bitcoin_cash_response.text)

In [ ]:
sp500 = yf.Ticker('^GSPC')
sp500_hist = sp500.history(period='5y')
sp500_hist.to_csv("sp500_hist.csv")
sp500_hist